.form-container-card {
    margin-top: 2rem;
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;

 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;    
    text-align: center;      
    min-height: 400px;      
}

.delete-form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    height: 100%;
}


.delete-icon span {
    font-size: 3.5rem; 
    color: var(--color-warning);
    margin-bottom: 1rem;
}


.delete-message p {
    color: var(--color-dark-variant);
    line-height: 1.6;
    margin-bottom: 0.5rem;
}

.delete-message .transaction-details {
    font-size: 1.1rem; 
    margin: 1rem 0;
}

.delete-message .transaction-details strong {
    color: var(--color-dark);
}

.delete-message .warning-text {
    font-size: 0.8rem;
    font-style: italic;
}

.delete-message strong.danger {
    color: var(--color-danger);
}


.form-actions.delete-actions {
    margin-top: 2rem;
    border-top: 1px solid var(--color-light);
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}


.btn {
    padding: 0.8rem 1.5rem;
    border-radius: var(--border-radius-2);
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: all 300ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border: none; 
}

.btn-secondary {
    background: var(--color-light);
    color: var(--color-dark-variant);
    
}
.btn-secondary:hover {
    background: var(--color-info-dark);
    color: var(--color-white);
}

.btn-danger {
    background: var(--color-danger);
    color: var(--color-white);
}
.btn-danger:hover {
    opacity: 0.9;
}